/* COLORS */
:root {
  --c-red: #fe3d2f;
  --c-indigo: #5856d6;
  --c-blue: #007aff;
  --c-text: #000000;
  --c-background: #f2f1f6;
  --card-c-background: white;
  --navbar-c-background: hsla(0 0% 98% / 94%);
  --c-gray-6: #f2f2f7;
  --c-gray-5: #e5e5ea;
  --c-gray-3: #c7c7cc;
  --c-gray-2: #8e8e93;
  --c-gray: #8e8e93;
  --c-meter-start: #ff3b30;
  --c-meter-middle: #ffcc00;
  --c-meter-end: #34c759;
  --c-bg-item: #fff;
  --c-placeholder: hsla(240 6% 25% / 60%);
  --c-radio-checked-bg: white;
  --c-chart-bg: white;
  --c-radio-apple-bg: hsla(240 3% 49% / 16%);
  --c-button-bg: #efeff4;
  --c-input-datepicker: #eeeeef;
  --c-action-sheet-bg: rgba(245, 245, 245, 0.7);
  --c-border-action-gr: rgba(60, 60, 67, 0.36);
  --c-border: #c6c5ca;

  /* DARK THEME COLORS */
  --c-red-d: #ff453a;
  --c-indigo-d: #5e5ce6;
  --c-blue-d: #0a84ff;
  --c-text-d: #fff;
  --c-background-d: #000;
  --card-c-background-d: #1c1c1e;
  --navbar-c-background-d: hsla(0 0% 11% / 94%);
  --c-gray-6-d: #1c1c1e;
  --c-gray-5-d: #2c2c2e;
  --c-gray-3-d: #48484a;
  --c-gray-2-d: #636366;
  --c-gray-d: #8e8e93;
  --c-meter-start-d: hsla(3 100% 59% / 75%);
  --c-meter-middle-d: hsla(48 100% 50% / 75%);
  --c-meter-end-d: hsla(135 59% 49% / 75%);
  --c-bg-item-d: #2c2c2e;
  --c-modal-bg-d: #1c1c1e;
  --c-placeholder-d: hsla(240 6% 25% / 60%);
  --c-radio-checked-bg-d: #636366;
  --c-chart-bg-d: #000;
  --c-radio-apple-bg-d: hsla(240 3% 49% / 32%);
  --c-button-bg-d: #2c2c2e;
  --c-input-datepicker-d: #3e3d42;
  --c-action-sheet-bg-d: rgba(24, 24, 24, 0.7);
  --c-border-action-gr-d: rgba(84, 84, 88, 0.65);
  --c-border-d: #3e3c41;
}

:root {
  --system-red: var(--c-red);
  --system-indigo: var(--c-indigo);
  --system-blue: var(--c-blue);
  --color-text: var(--c-text);
  --color-background: var(--c-background);
  --card-color-background: var(--card-c-background);
  --navbar-color-background: var(--navbar-c-background);
  --system-gray-6: var(--c-gray-6);
  --system-gray-5: var(--c-gray-5);
  --system-gray-3: var(--c-gray-3);
  --system-gray-2: var(--c-gray-2);
  --system-gray: var(--c-gray);
  --meter-start: var(--c-meter-start);
  --meter-middle: var(--c-meter-middle);
  --meter-end: var(--c-meter-end);
  --item-white-bg: var(--c-bg-item);
  --radio-group-bg: hsla(240 4% 48% / 12%);
  --modal-bg: var(--c-background);
  --placeholder-color: var(--c-placeholder);
  --radio-checked-bg: var(--c-radio-checked-bg);
  --chart-bg: var(--c-chart-bg);
  --border-color: var(--c-border);
  --selected-calendar-bg: black;
  --radio-apple-bg: var(--c-radio-apple-bg);
  --button-bg: var(--c-button-bg);
  --input-datepicker: var(--c-input-datepicker);
  --action-sheet-bg: var(--c-action-sheet-bg);
  --action-sheet-border-color: var(--c-border-action-gr);
}

/* DARK THEME */
@media (prefers-color-scheme: dark) {
  /* Don't turn dark theme when 'Light' is chosen */
  :root:not([data-color-scheme='light']) {
    --system-red: var(--c-red-d);
    --system-indigo: var(--c-indigo-d);
    --system-blue: var(--c-blue-d);
    --color-text: var(--c-text-d);
    --color-background: var(--c-background-d);
    --card-color-background: var(--card-c-background-d);
    --navbar-color-background: var(--navbar-c-background-d);
    --system-gray-6: var(--c-gray-6-d);
    --system-gray-5: var(--c-gray-5-d);
    --system-gray-3: var(--c-gray-3-d);
    --system-gray-2: var(--c-gray-2-d);
    --system-gray: var(--c-gray-d);
    --meter-start: var(--c-meter-start-d);
    --meter-middle: var(--c-meter-middle-d);
    --meter-end: var(--c-meter-end-d);
    --item-white-bg: var(--c-bg-item-d);
    --radio-group-bg: hsla(240 4% 48% / 32%);
    --modal-bg: var(--c-modal-bg-d);
    --placeholder-color: var(--c-placeholder-d);
    --radio-checked-bg: var(--c-radio-checked-bg-d);
    --chart-bg: var(--c-chart-bg-d);
    --border-color: var(--c-border-d);
    --selected-calendar-bg: white;
    --radio-apple-bg: var(--c-radio-apple-bg-d);
    --button-bg: var(--c-button-bg-d);
    --input-datepicker: var(--c-input-datepicker-d);
    --action-sheet-bg: var(--c-action-sheet-bg-d);
    --action-sheet-border-color: var(--c-border-action-gr-d);
  }
}

html[data-color-scheme='dark'] {
  color-scheme: dark;
}

:root[data-color-scheme='dark'] {
  --system-red: var(--c-red-d);
  --system-indigo: var(--c-indigo-d);
  --system-blue: var(--c-blue-d);
  --color-text: var(--c-text-d);
  --color-background: var(--c-background-d);
  --card-color-background: var(--card-c-background-d);
  --navbar-color-background: var(--navbar-c-background-d);
  --system-gray-6: var(--c-gray-6-d);
  --system-gray-5: var(--c-gray-5-d);
  --system-gray-3: var(--c-gray-3-d);
  --system-gray-2: var(--c-gray-2-d);
  --system-gray: var(--c-gray-d);
  --meter-start: var(--c-meter-start-d);
  --meter-middle: var(--c-meter-middle-d);
  --meter-end: var(--c-meter-end-d);
  --item-white-bg: var(--c-bg-item-d);
  --radio-group-bg: hsla(240 4% 48% / 32%);
  --modal-bg: var(--c-modal-bg-d);
  --placeholder-color: var(--c-placeholder-d);
  --radio-checked-bg: var(--c-radio-checked-bg-d);
  --chart-bg: var(--c-chart-bg-d);
  --border-color: var(--c-border-d);
  --selected-calendar-bg: white;
  --radio-apple-bg: var(--c-radio-apple-bg-d);
  --button-bg: var(--c-button-bg-d);
  --input-datepicker: var(--c-input-datepicker-d);
  --action-sheet-bg: var(--c-action-sheet-bg-d);
  --action-sheet-border-color: var(--c-border-action-gr-d);
}

::placeholder {
  color: var(--placeholder-color);
}
::-webkit-input-placeholder {
  color: var(--placeholder-color);
}
::-moz-placeholder {
  color: var(--placeholder-color);
}

.system-gray-color {
  color: var(--system-gray);
}

.system-gray-3-color {
  color: var(--system-gray-3);
}

.system-gray-5-color {
  color: var(--system-gray-5);
}

.system-blue-color {
  color: var(--system-blue);
}

.system-red-color {
  color: var(--system-red);
}

.system-indigo-color {
  color: var(--system-indigo);
}

.system-blue-bg {
  background-color: var(--system-blue);
}

.system-red-bg {
  background-color: var(--system-red);
}

.system-gray-bg {
  background-color: var(--system-gray);
}

.system-gray-3-bg {
  background-color: var(--system-gray-3);
}

.system-gray-2-bg {
  background-color: var(--system-gray-2);
}

.system-gray-6-bg {
  background-color: var(--system-gray-6);
}

.system-color-background {
  background-color: var(--color-background);
}

.font-rounded {
  font-family: 'SF Pro Rounded', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.15s, background-color 0.15s;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

@media (display-mode: standalone) {
  body {
    -webkit-tap-highlight-color: transparent;
  }
}

pre {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  white-space: pre-line;
}

/* TYPOGRAPHY */

.large-heading {
  /* font-weight: bold; */
  font-size: 34px;
  line-height: 41px;
  letter-spacing: 0.37px;
}

.title-3 {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.38px;
}

.body-text {
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.41px;
}

.subheadline {
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.24px;
}

.footnote {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.08px;
}

.caption-1 {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0px;
}

.caption-2 {
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.07px;
}

.caption-3 {
  font-size: 10px;
  line-height: 11px;
  letter-spacing: 0px;
}

/* ELEMENT STYLES */
header.nav-header {
  position: fixed;
  bottom: 0;
  padding-bottom: env(safe-area-inset-bottom);
  width: 100%;
  height: calc(49px + env(safe-area-inset-bottom));
}

.nav-header-bg {
  background-color: var(--navbar-color-background);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  box-shadow: 0px -0.5px 0px rgba(0, 0, 0, 0.3);
}

button {
  outline: none;
}

button:disabled {
  opacity: 0.65;
  filter: grayscale(1);
}

button.primary {
  color: var(--system-blue);
}

.danger {
  color: var(--system-red);
}

main {
  padding-left: calc(16px + env(safe-area-inset-left));
  padding-right: calc(16px + env(safe-area-inset-right));
  max-width: 768px;
  margin: 0 auto;
  padding-bottom: calc(49px + env(safe-area-inset-bottom));
  scroll-snap-type: y mandatory;
}

.px-4-safe {
  padding-left: calc(16px + env(safe-area-inset-left));
  padding-right: calc(16px + env(safe-area-inset-right));
}

.pb-4-safe {
  padding-bottom: calc(16px + env(safe-area-inset-bottom));
}

.mx-4-safe {
  margin-left: calc(16px + env(safe-area-inset-left));
  margin-right: calc(16px + env(safe-area-inset-right));
}

.system-white-bg {
  background-color: var(--card-color-background);
}

.custom-meter {
  width: 100%;
  height: 6px;
  border-radius: 10px;
  background: linear-gradient(270deg, var(--meter-start) 0%, var(--meter-middle) 50.52%, var(--meter-end) 100%);
}

.custom-meter div.thumb {
  position: relative;
  height: inherit;
}

.custom-meter div.thumb::after {
  content: ' ';
  position: absolute;
  right: -4px;
  height: 16px;
  width: 8px;
  transform: translateY(-30%);
  background-color: white;
  box-shadow: 0px 0.5px 4px rgba(0, 0, 0, 0.12), 0px 6px 13px rgba(0, 0, 0, 0.12);
}

.mood-radio-group > :not(:last-child):not([aria-checked='true'])::after {
  content: '|';
  font-weight: 200;
  font-size: 16px;
  line-height: 16px;
  position: absolute;
  right: -4px;
  top: 43%;
  transform: translateY(-50%);
  color: var(--system-gray-3);
  text-align: center;
}

.radio-checked {
  background-color: var(--radio-checked-bg);
  border-radius: 6.93px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.04);
  z-index: 10;
}

.radio-checked::after {
  content: none !important;
}

input.apple-switch {
  position: relative;
  appearance: none;
  outline: none;
  width: 50px;
  height: 30px;
  background-color: transparent;
  border: 1px solid var(--radio-apple-bg);
  border-radius: 50px;
  box-shadow: inset 0 0 100px 0 var(--radio-apple-bg);
  transition-duration: 50ms;
  cursor: pointer;
}

input.apple-switch:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  width: 26px;
  height: 26px;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

input.apple-switch:checked {
  border-color: #4ed164;
  background-color: #4ed164;
  box-shadow: inset 20px 0 0 0 #4ed164;
}

input.apple-switch:checked:after {
  left: 20px;
  background-color: #ffffff;
  /* box-shadow: -2px 4px 3px rgba(0, 0, 0, 0.05); */
}

.item-white-bg {
  background-color: var(--item-white-bg);
}

.radio-group-bg {
  background-color: var(--radio-group-bg);
}

.chart-bg {
  background-color: var(--chart-bg);
}

*,
::before,
::after {
  border-color: var(--border-color);
}

.modal-bg {
  background: var(--modal-bg);
}

.selected-calendar-day {
  background-color: var(--selected-calendar-bg);
  color: var(--card-color-background);
}

.list-item-bg {
  background-color: var(--card-color-background);
}

.button-bg {
  background-color: var(--button-bg);
}

.input-datepicker {
  background-color: var(--input-datepicker);
}

.action-sheet {
  backdrop-filter: blur(22px);
  background-color: var(--action-sheet-bg);
}

.action-sheet > *:not(:last-child) {
  border-bottom: 0.5px solid var(--action-sheet-border-color);
}

nav > .router-link-exact-active > svg{
  transform-origin: center center;
  display: flex;
  width: 100%;
}

nav > .router-ling-svg-anim.router-link-exact-active > svg{
  animation-name: svgLinkAnimation;
  animation-duration: 0.35s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes svgLinkAnimation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.75);
  }

  100% {
    transform: scale(1);
  }
}