/* COLORS */
:root {
  --c-red: #fe3d2f;
  --c-indigo: #5856d6;
  --c-blue: #007aff;
  --c-text: #000000;
  --c-background: #f2f1f6;
  --card-c-background: white;
  --navbar-c-background: hsla(0 0% 98% / 94%);
  --c-gray-6: #f2f2f7;
  --c-gray-5: #e5e5ea;
  --c-gray-3: #c7c7cc;
  --c-gray: #8e8e93;

  /* DARK THEME COLORS */
  --c-red-d: #ff453a;
  --c-indigo-d: #5e5ce6;
  --c-blue-d: #0a84ff;
  --c-text-d: #fff;
  --c-background-d: #000;
  --card-c-background-d: #1c1c1e;
  --navbar-c-background-d: hsla(0 0% 11% / 94%);
  --c-gray-6-d: #1c1c1e;
  --c-gray-5-d: #2c2c2e;
  --c-gray-3-d: #48484a;
  --c-gray-d: #8e8e93;
}

:root {
  --system-red: var(--c-red);
  --system-indigo: var(--c-indigo);
  --system-blue: var(--c-blue);
  --color-text: var(--c-text);
  --color-background: var(--c-background);
  --card-color-background: var(--card-c-background);
  --navbar-color-background: var(--navbar-c-background);
  --system-gray-6: var(--c-gray-6);
  --system-gray-5: var(--c-gray-5);
  --system-gray-3: var(--c-gray-3);
  --system-gray: var(--c-gray);
}

/* DARK THEME */
@media (prefers-color-scheme: dark) {
  /* Don't turn dark theme when 'Light' is chosen */
  :root:not([data-color-scheme='light']) {
    --system-red: var(--c-red-d);
    --system-indigo: var(--c-indigo-d);
    --system-blue: var(--c-blue-d);
    --color-text: var(--c-text-d);
    --color-background: var(--c-background-d);
    --card-color-background: var(--card-c-background-d);
    --navbar-color-background: var(--navbar-c-background-d);
    --system-gray-6: var(--c-gray-6-d);
    --system-gray-5: var(--c-gray-5-d);
    --system-gray-3: var(--c-gray-3-d);
    --system-gray: var(--c-gray-d);
  }
}

html[data-color-scheme='dark'] {
  color-scheme: dark;
}

:root[data-color-scheme='dark'] {
  --system-red: var(--c-red-d);
  --system-indigo: var(--c-indigo-d);
  --system-blue: var(--c-blue-d);
  --color-text: var(--c-text-d);
  --color-background: var(--c-background-d);
  --card-color-background: var(--card-c-background-d);
  --navbar-color-background: var(--navbar-c-background-d);
  --system-gray-6: var(--c-gray-6-d);
  --system-gray-5: var(--c-gray-5-d);
  --system-gray-3: var(--c-gray-3-d);
  --system-gray: var(--c-gray-d);
}

.system-gray-color {
  color: var(--system-gray);
}

.system-gray-3-color {
  color: var(--system-gray-3);
}

.system-gray-5-color {
  color: var(--system-gray-5);
}

.system-blue-color {
  color: var(--system-blue);
}

.system-indigo-color {
  color: var(--system-indigo);
}

.system-gray-bg {
  background-color: var(--system-gray);
}

.system-gray-3-bg {
  background-color: var(--system-gray-3);
}

.system-gray-6-bg {
  background-color: var(--system-gray-6);
}

.system-color-background {
  background-color: var(--color-background);
}

.font-rounded {
  font-family: 'SF Pro Rounded', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  /* min-height: 100vh; */
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.25s, background-color 0.25s;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

pre {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  white-space: pre-line;
}

/* TYPOGRAPHY */

.large-heading {
  /* font-weight: bold; */
  font-size: 34px;
  line-height: 41px;
  letter-spacing: 0.37px;
}

.title-3 {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.38px;
}

.body-text {
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.41px;
}

.subheadline {
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.24px;
}

.footnote {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.08px;
}

.caption-1 {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0px;
}

.caption-2 {
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.07px;
}

/* ELEMENT STYLES */
header.nav-header {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: calc(49px + env(safe-area-inset-bottom));
}

.nav-header-bg {
  background-color: var(--navbar-color-background);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  box-shadow: 0px -0.5px 0px rgba(0, 0, 0, 0.3);
}

button:disabled {
  opacity: 0.65;
  filter: grayscale(1);
}

button.primary {
  color: var(--system-blue);
}

.danger {
  color: var(--system-red);
}

main {
  padding-top: env(safe-area-inset-top);
  padding-left: calc(16px + env(safe-area-inset-left));
  padding-right: calc(16px + env(safe-area-inset-right));
  padding-bottom: calc(49px + env(safe-area-inset-bottom));
  max-width: 768px;
  margin: 0 auto;
}

.system-white-bg {
  background-color: var(--card-color-background);
}

.custom-meter {
  width: 100%;
  height: 6px;
  border-radius: 10px;
  background: linear-gradient(270deg, #34c759 0%, #ffcc00 50.52%, #ff3b30 100%);
}

.custom-meter div.thumb {
  position: relative;
  height: inherit;
}

.custom-meter div.thumb::after {
  content: ' ';
  position: absolute;
  right: -4px;
  height: 16px;
  width: 8px;
  transform: translateY(-30%);
  background-color: white;
  box-shadow: 0px 0.5px 4px rgba(0, 0, 0, 0.12), 0px 6px 13px rgba(0, 0, 0, 0.12);
}

.mood-radio-group > :not(:last-child):not([aria-checked='true'])::after {
  content: '|';
  font-weight: 200;
  font-size: 16px;
  line-height: 16px;
  position: absolute;
  right: -4px;
  top: 43%;
  transform: translateY(-50%);
  color: var(--system-gray-3);
  text-align: center;
}

.radio-checked {
  background-color: white;
  border-radius: 6.93px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.04);
  z-index: 10;
}

.radio-checked::after {
  content: none !important;
}

input.apple-switch {
  position: relative;
  appearance: none;
  outline: none;
  width: 50px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid #d9dadc;
  border-radius: 50px;
  box-shadow: inset 0 0 100px 0 var(--system-gray-5);
  transition-duration: 50ms;
  cursor: pointer;
}

input.apple-switch:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  width: 26px;
  height: 26px;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

input.apple-switch:checked {
  border-color: #4ed164;
  background-color: #4ed164;
  box-shadow: inset 20px 0 0 0 #4ed164;
}

input.apple-switch:checked:after {
  left: 20px;
  background-color: #ffffff;
  /* box-shadow: -2px 4px 3px rgba(0, 0, 0, 0.05); */
}
