/* COLORS */
:root{
  --system-red: #FE3D2F;
  --system-indigo: #5856D6;
  --system-blue: #007AFF;

  --color-text: #000000;
  --color-background: #F2F1F6;
  --card-color-background: white;
  --navbar-color-background: hsla(0 0% 98% / 94%);
  --tab-group-color-background: hsla(240 4% 48% / 12%);
  --system-gray-5: #E5E5EA;
  --system-gray-3: #C7C7CC;
  --system-gray: #8E8E93;
}

/* TODO: DARK THEME */
/* @media (prefers-color-scheme: dark) {
  :root {
    
  }
} */

.system-gray-color{
  color: var(--system-gray);
}

.system-gray-3-color{
  color: var(--system-gray-3);
}

.system-blue-color{
  color: var(--system-blue);
}

.system-indigo-color{
  color: var(--system-indigo);
}

.font-rounded {
  font-family: 'SF Pro Rounded', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  /* min-height: 100vh; */
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.25s, background-color 0.25s;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* TYPOGRAPHY */

.large-heading {
  /* font-weight: bold; */
  font-size: 34px;
  line-height: 41px;
  letter-spacing: 0.37px;
}

.title-3 {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.38px;
}

.body-text {
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.41px;
}

.subheadline {
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.24px;
}

.footnote {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.08px;
}

.caption-1 {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0px;
}

.caption-2 {
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.07px;
}

/* ELEMENT STYLES */
header.nav-header {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: calc(49px + env(safe-area-inset-bottom));
  background-color: var(--navbar-color-background);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  box-shadow: 0px -0.5px 0px rgba(0, 0, 0, 0.3);
}

button.primary {
  color: var(--system-blue)
}

main {
  padding-top: env(safe-area-inset-top);
  padding-left: calc(16px + env(safe-area-inset-left));
  padding-right: calc(16px + env(safe-area-inset-right));
  padding-bottom: env(safe-area-inset-bottom);
  max-width: 768px;
  margin: 0 auto;
}

.closable-card {
  background-color: var(--card-color-background);
}

.custom-meter {
  width: 100%;
  height: 6px;
  border-radius: 10px;
  background: linear-gradient(270deg, #34C759 0%, #FFCC00 50.52%, #FF3B30 100%);

}

.custom-meter div.thumb {
  position: relative;
  height: inherit;
}

.custom-meter div.thumb::after {
  content: ' ';
  position: absolute;
  right: 0;
  height: 16px;
  width: 8px;
  transform: translateY(-30%);
  background-color: white;
  box-shadow: 0px 0.5px 4px rgba(0, 0, 0, 0.12), 0px 6px 13px rgba(0, 0, 0, 0.12);
}

.mood-radio-group > div:not(:last-child):not([aria-checked=true])::after{
  content: '|';
  position: absolute;
  right: -2px;
  top: 4px;
  color: var(--system-gray-3);
  text-align: center;
}

.radio-checked{
  background-color: white;
  border-radius: 6.93px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.04);
}